@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.blue-label {
		@apply tracking-wider text-b text-main font-bold
	}
	
	.default {
		@apply cursor-default
	}
	
	.flex-center {
		@apply flex justify-center items-center
	}

	.f-h-center {
		@apply flex justify-center
	}
	
	.f-h-between {
		@apply flex justify-between
	}
	
	.f-v-center {
		@apply flex items-center
	}

	.main-bold {
		@apply text-main font-bold
	}

	.pointer {
		@apply cursor-pointer
	}
}

.c-transition-all {
	transition: all .4s ease-in-out
}

.auth-bg {
	background: url('./img/auth-bg.webp') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}

.black-shadow {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-bg {
	background: url('./img/home-bg.webp') no-repeat 100% 100%;
	background-size: cover;
	background-attachment: fixed;
}

.home-bg2 {
	background: url('./img/home-bg2.webp') no-repeat 100% 100%;
	background-size: cover;
}

.white-shadow {
	box-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background: #343434
}

::-webkit-scrollbar-track {
	background: transparent
}
