@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.blue-label {
		@apply tracking-wider text-b text-main font-bold
	}
	
	.flex-center {
		@apply flex justify-center items-center
	}

	.f-h-center {
		@apply flex justify-center
	}
	
	.f-h-between {
		@apply flex justify-between
	}
	
	.f-v-center {
		@apply flex items-center
	}

	.pointer {
		@apply cursor-pointer
	}
}

.c-transition-all {
	transition: all .4s ease-in-out
}

.home-bg {
	background: url('./img/home-bg.webp') no-repeat 100% 100%;
	background-size: cover;
	background-attachment: fixed;
}

.home-bg2 {
	background: url('./img/home-bg2.webp') no-repeat 100% 100%;
	background-size: cover;
}

@media only screen and (max-width: 950px) {
	.burger {
		display: block;
	}
	
	.menu {
		display: none;
	}
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background: #343434
}

::-webkit-scrollbar-track {
	background: transparent
}
